@using System.Timers

<CascadingValue Value="this">
    <div class="diashow position-fixed top-0 start-0 vw-100 vh-100 overflow-hidden"
         style="user-select: none; background-color:@(IsDarkMode ? "black" : "white")"
         @onmouseenter="(FreezeOnHover ? OnMouseEnter : null)"
         @onmouseleave="(FreezeOnHover ? OnMouseLeave : null)">

        @ChildContent

        @if (Items.Count > 1)
        {
            <div class="diashow-item h-100 d-flex justify-content-center align-items-center">
                <div class="d-flex justify-content-center align-items-center flex-grow-1" style="width: 100%;">
                    @Items[ItemIndex].ChildContent
                </div>
            </div>

            @if (DisplayProgressBar)
            {
                <div class="position-fixed bottom-0 start-0 end-0"
                     style="height: 4px; z-index: 2147483647; pointer-events: none;">
                    <div class="w-100 h-100 rounded-0 overflow-hidden" style="background-color: transparent;">
                        <div role="progressbar"
                             class="h-100 rounded-0"
                             style="width: @ProgressPercentage%; transition: width @(TickIntervalMs)ms linear; background-color:@(IsDarkMode ? "black" : "white")"
                             aria-valuemin="0" aria-valuemax="100" aria-valuenow="@ProgressPercentage">
                        </div>
                    </div>
                </div>
            }

            @if (DisplayNavButtons)
            {
                <div class="position-absolute top-50 start-0 end-0 d-flex justify-content-between px-3 translate-middle-y"
                     style="z-index: 2147483646;">
                    <button class="btn rounded-circle opacity-75 shadow-sm btn-lg @(IsDarkMode ? "btn-outline-dark" : "btn-outline-light")"
                            @onclick="Prev" style="width: 3.5rem; height: 3.5rem;">
                        &lt;
                    </button>
                    <button class="btn rounded-circle opacity-75 shadow-sm btn-lg @(IsDarkMode ? "btn-outline-dark" : "btn-outline-light")"
                            @onclick="Next" style="width: 3.5rem; height: 3.5rem;">
                        &gt;
                    </button>
                </div>
            }
        }
        else if (Items.Count == 1)
        {
            <div class="diashow-item h-100 d-flex justify-content-center align-items-center">
                @Items[0].ChildContent
            </div>
        }
    </div>
</CascadingValue>
